body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 1;
    padding: 0;
    background-color: #000;
}

header {
    background-color: #ff7300;
    color: #020000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul ul {
    display: inline;
    margin-right: 20px;
}

/* nav ul ul a {
    color: #b3892f;
    text-decoration: none;
  }
*/
nav ul ul a {
    color: #080501;
    text-decoration: none;
}

nav ul a:hover {
    color: #ffff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}
section ul {
    color: #ff7300;
}

section h2 {
    color: #ff7300;
}

section h3 {
    color: #ff7300;
}

section img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* This is where the text is placed around the image*/

section {
    margin-bottom: 40px;
}

section h2 {
    color: #ff7300;
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
    color: #ff7300;
}

section links {
    color: #ff7300;
}

section links card ul a:hover {
    color: #fff;
}

section a {
    color: #ff7300;
    text-decoration: none;
}

.card {
    width: flex;
    height: flex;
    background-color: #0000;
    border-radius: 15px;
    border: 1px solid #ff7300;
    box-shadow: 0 4px 6px rgba(255, 115, 0, 0.1);
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.card a:hover {
    color: #fff;
}

.card-content {
    padding: 20px;
    margin-bottom: 10px;
}

.card-content h3 {
    color: rgb(248, 144, 9);
    font-size: 30px;
    margin-bottom: 10px;
}

.card-content ul {
    color: rgb(255, 123, 0);
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content li {
    color: rgb(255, 123, 0);
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}

footer {
    background-color: #ff7300;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    margin-top: 300px;
}

footer nav ul {
    margin-bottom: 10px;
}

footer nav ul ul {
    display: inline;
    margin-right: 20px;
}

footer nav ul ul a {
    color: #000000;
    text-decoration: none;
}
